@import "../common/mixins.scss";

.nav {
  position: fixed;
  top: 0;
  right: 20px;

  input {
    font-size: 12px;
    width: 32px;
    height: 35px;

    &.add {
      @include button-style(white, green);
    }

    &.re-gen {
      @include button-style(white, blue);
    }

    &.clear {
      @include button-style(white, red);
    }
  }
}